body {
  background-color: grey;
}

h1 {
  font-family: Helvetica, Arial;
  font-size: 80px;
  font-style: bold;
  color: lightgrey;
}

button {
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
}

input {
  padding: 10px 20px;
  font-size: 18px;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.container {
  height: 600px;
  display: grid;
  grid-template-rows: 2fr 4fr;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: stretch;
  margin-top: 100px
}

.item {
  padding: 30px 50px 50px 40px;
  background-color: grey;
  font-family: Helvetica, Arial;
  color: darkgrey;
  font-size: 24px;
}

.item1 {
  background-color: white;
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-color: grey;
  grid-row-start: 1;
  grid-row-end: span 1;
  grid-column-start: 2;
  grid-column-end: span 1;
}

.item2 {
  background-color: white;

  grid-row-start: 2;
  grid-row-end: span 1;
  grid-column-start: 2;
  grid-column-end: span 1;
  border-bottom-left-radius: 1.5em ;
  border-bottom-right-radius: 1.5em;
}

.leftside {
  grid-row-start: 1;
  grid-row-end: span 2;
  grid-column-start: 1;
  grid-column-end: span 1;
}

.rightside {
  grid-row-start: 1;
  grid-row-end: span 2;
  grid-column-start: 3;
  grid-column-end: span 1;
}

.centertext {
  text-align: center;
}

